/* Toast.css */
.toast {
    display: block;
    position: fixed;
    top: 10px;
    left: 50%;
    height: 30px;
    transform: translateX(-50%);
    background-color: #83fdc4;
    color: black;
    font-weight: bold;
    padding: 10px 20px;
    font-size: 30px;
    border-radius: 5px;
    border: 4px solid white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    visibility: visible;
    transition: opacity 1s ease-out, visibility 0s linear 1s;
    z-index: 1000;
  }
  
  .toast-hide {
    opacity: 0;
   visibility: hidden;
  }

.room-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    background-color: rgb(27, 26, 29);

}

.room {
    
    position: relative;
    background: url('../assets/wall_paint.jpg')center center;
    flex-grow: 1;
    width: 900px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
}

.room::before {
    z-index: 1;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0));
}

.room::after {
    z-index: 0;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(176, 56, 250, 0.164);
}

.upper-room-container {
    margin-top: -25px;
    flex-grow: 1;
    position: relative;
    z-index: 3;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;

}

.upper-room-container2 {
    z-index: 4;
}
.window-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
}

.window-frame {
    display: flex;
    align-items: center;
    justify-content: center;

    background: linear-gradient(to top, rgb(188, 188, 188), white);
    width: 445px;
    height: 260px;
    margin-top: 30px;
    border: 1px solid black;
}


.window {
   width: 94%;
    height: 90%;
}

.window video {
    width: 100%;
    height: 100%;
    border: 1px solid black;
}

.window-video-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
  }
  
  .window-video-wrapper::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, transparent 49.5%, #fff 49.5%, #a3a3a3 50.5%, transparent 50.5%),
               linear-gradient(to bottom, transparent 49.5%, #fff 49.5%, #9d9d9d 50.5%, transparent 50.5%);
    background-repeat: no-repeat;
    pointer-events: none; /* Allow interaction with the video */
  }

  

.window-sill-1 {
    height: 12px;
    width: 465px;
    background: linear-gradient(rgb(172, 172, 172),rgb(255, 255, 255));
    border-bottom: 1px solid rgb(183, 183, 183);
}
.window-sill-2 {
    height: 10px;
    width: 465px;
    background: linear-gradient(rgb(219, 219, 219), rgb(100, 99, 99));
    border-bottom: 1px solid black;

}

.window-sill-shadow {
    height: 15px;
    width: 465px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), transparent);
    /* margin-bottom: 30px; */
}

.cert-container {

    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 30px;
    background: linear-gradient(to right, rgb(132, 166, 171), lightblue);
    border: 2px solid black;
    box-shadow: -4px 2px 3px 3px rgba(0, 0, 0, 0.711);
}

.certificate {
    width: 200px;
    height: auto;
    padding: 10px;
    cursor: pointer;
}

.cert-enlarged {
    z-index: 99;
    transform: scale(2.5);
    z-index: 99;
    position: absolute;
    top: 40%;
    left: 35%;
    background-color: rgba(0, 0, 0, 0.388);
}

.enlarged-placeholder {
    width: 203px;
    height: auto;
    padding: 10px;
    display: none;

}

.is-enlarged {
    display: block;
}

.photo-frame-container {
    z-index: 3;
    position: relative;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    width: 100%;
    margin-top: 15px;
}

.photo-frame1 {
    position: absolute;
    left: 50px;
    top: -25px;
    background-color: white;
    width: 85px;
    height: 90px;
    padding-bottom: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transform:rotate(5deg);
    transform: center;
    filter: drop-shadow(0rem 0.15rem 0.1rem rgba(2, 2, 2, 0.81));
}

/* .photo-frame1:hover {
    transform: scale(1.1);
    transition: transform 0.2s;
    filter: drop-shadow(0rem 0.35rem 0.4rem rgba(255, 174, 0, 0.722));
} */

.photo-frame2 {
    position: absolute;
    left: 200px;
    bottom: -10px;
    background-color: white;
    width: 85px;
    height: 90px;
    padding-bottom: 7px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform:rotate(-5deg);
    transform: center;
    filter: drop-shadow(0rem 0.15rem 0.1rem rgba(2, 2, 2, 0.81));

}

/* .photo-frame2:hover {
    transform: scale(1.1);
    transition: transform 0.2s;
    filter: drop-shadow(0rem 0.35rem 0.4rem rgba(255, 174, 0, 0.722));
} */

.photo-enlarged {
    transform: scale(5.5);
    z-index: 99;
    position: absolute;
    top: 0;
    left: 35%;
}

.pin {
    position: absolute;
    width: 10px;
    height: 10px;
    top: 0px;
}

.photo {

    width: 75px;
    height: auto;
    padding: 10px;
    cursor: pointer;
}

.lower-room-container {
    position: relative;
    z-index: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 45px;
    margin-bottom: 5px;
}

.desk-top {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 70px;
    height: 190px;
    width: 100%;
}

.desk-left {
    position: relative;
    margin-top: 30px;
    bottom: 0;
    height: 100%;
    width: 5%;
    background: url("../assets/wood.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    /* background-position: center; */
    
    clip-path: polygon(100% 0, 0 100%, 100% 100%); 
}
.desk-left::before {
    content: "";
    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(60, 20, 20, 0.871), rgba(113, 77, 22, 0.299));
    /* clip-path: polygon(100% 0, 0 100%, 100% 100%);  */
}

.desk-left::after {
    content: "";
    position: absolute;
    
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(85, 28, 28, 0.584), rgba(127, 91, 38, 0.299));
    /* clip-path: polygon(100% 0, 0 100%, 100% 100%);  */
}

.desk {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    margin-top: 30px;
    bottom: 0;
    height: 100%;
    width: 813px;
    background: url("../assets/wood.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-top: 1px solid rgb(56, 29, 29);
    border-bottom: 1px solid rgb(143, 120, 78);
}

.desk::before {
    
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(62, 21, 21, 0.584), rgba(127, 91, 38, 0.299));

 }

.desk-right {
    position: relative;
    margin-top: 30px;
    bottom: 0;
    height: 100%;
    width: 5%;
    background: url("../assets/wood.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    /* background-position: center; */
    clip-path: polygon(0 0, 100% 100%, 0 100%);
}

.desk-right::after, .desk-right::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(105, 34, 34, 0.326), rgba(175, 113, 21, 0.299));

}

.desk-bottom {
    border-top: 1px solid rgb(143, 120, 78);
    margin-top: 15px;
    height: 15px;
    background: linear-gradient(to top, rgb(16, 3, 3),rgb(69, 30, 8));
    width: 100%;
}

.window-video-reflection {
    margin-top: 40px;
    position: relative;
    bottom: 0;
    right: 30px;
    width: 420px;
    height: 235px;
    overflow: hidden;
    transform: scaleY(-1);
    opacity: 0.4;
    z-index: 3;
}

.sticky-notes {
    z-index: 5;
    position: absolute;
    left: 120px;
    width: 120px;
    bottom: 0;
}

.notepad-img {
    z-index: 4;
    position: absolute;
    right: 100px;
    height: 200px;
    top: 10px;
    filter: drop-shadow(0rem 0.15rem 0.1rem rgba(2, 2, 2, 0.81));
}

.window-video-reflection video {
    
    width: 100%;
    height: 100%;
    opacity: 0.8;
    mask: linear-gradient(to bottom, rgba(0, 0, 0, 0.053), rgba(0, 0, 0, 0.874));
}

.window-video-reflection::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.488), rgba(0, 0, 0, 0.225));
    pointer-events: none;
    /* transform: skewX(); */

}

.window-video-reflection::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, transparent 49.5%, #2b2727 49.5%, #2d2929 50.5%, transparent 50.5%),
               linear-gradient(to bottom, transparent 49.5%, #2b2727 49.5%, #2b2727eb 50.5%, transparent 50.5%);
    background-repeat: no-repeat;
    pointer-events: none;
    pointer-events: none;
    
}



.phone {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 170px;
    width: 150px;
    left: 40px;
    bottom: 5px;
    color: white;
    font-family: "Righteous", cursive;
    z-index: 4;
}

.phone img {
    width: 180px;
    height: auto;
    filter: drop-shadow(0rem 0.35rem 0.2rem rgba(2, 2, 2, 0.81));

}

.phone img:hover {
    transform: scale(1.2);
    transition: transform 0.2s;
    filter: drop-shadow(0rem 0.35rem 0.4rem rgba(234, 0, 255, 0.722));
}

.computer {
    position: absolute;
    display: flex;
    right: 30px;
    z-index: 5;
    right: 90px;
    bottom: 30px;
    justify-content: center;
    align-items: center;
    height: 240px;
    width: 150px;
}

.computer img {
    width: 370px;
    height: 235px;
    filter: drop-shadow(0rem 0.35rem 0.2rem rgba(2, 2, 2, 0.81));
}
.computer img:hover {
    transform: scale(1.1);
    z-index: 10;
    transition: transform 0.2s;
    filter: drop-shadow(0rem 0.35rem 0.4rem rgba(0, 221, 255, 0.81));
}

.computer-reflection {
    position: absolute;
    margin-top: 95px;
    right: -25px;
    width: 370px;
    height: 80px;
    background: url("../assets/laptop_model.png") no-repeat;
    transform: scaleY(-1);
    opacity: 0.7;
    mask: linear-gradient(to bottom, rgba(0, 0, 0, 0.093), rgba(0, 0, 0, 0.466));
    z-index: 3;
}

.screen-saver{
    position: absolute;
    z-index: 5;
    right: 70px;
    bottom: 125px;
    width: 207px;
    height: 135px;

    transform: skew(6deg, -.5deg);
    overflow: hidden;
    background: url("../assets/rei-ayanami.gif") no-repeat center center;
    background-size: cover;
}


/* .screen-saver video {
    width: 118%;
    height: 100%;
} */

.screen-saver:hover {
    display: none;
}

.hidden {
    display: none;
}

/* .mirror {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
    background: linear-gradient(to right, rgb(0, 255, 255), rgb(0, 0, 255));
    color: white;
    font-family: "Righteous", cursive;
} */