@import url('https://fonts.googleapis.com/css2?family=Freeman&display=swap');


.gallery-container {
  background-color: white;
  min-height: 550px;
  margin-top: -22px;
  overflow: hidden;
  text-align: center;
}

.gallery-h1 {
  font-family: "Righteous", cursive;
  color: rgb(243, 253, 199);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  background-color:rgb(97, 177, 150, 0.541);
  width: 100%;
  border-radius: 5px 5px 0 0;
  text-align: center;
  padding: 5px;
  z-index: 5;
  border-bottom: 2px solid rgb(70, 42, 96);
}

.gallery {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
  margin-top: -22px;
  min-height: 490px;
  padding: 5px;
  padding-left: 30px;
  overflow: hidden;
  
}

.gallery-item {
  flex: 0 0 auto;
  position: relative;
  display: inline-block; /* Or flex, depending on your layout */
  width: 100px;
  height: 100px;
  margin: 10px;
  margin-left: 20px;
  border-radius: 5px;
  cursor: pointer;
}

.gallery-item img {
  width: auto;
  height: 100px;
  border-radius: 2px;

}

.gallery-image.hidden {
  visibility: hidden;
}

.gallery-delete-button {
  position: absolute;
  bottom: 0;
  left: 100px;
  width: 25px;
  height: 25px;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 20px;
}

.gallery-delete-button:hover {
  background-color: rgb(255, 0, 0);
  color: white;
}

.gallery-delete-button:active {
  background-color: rgb(124, 0, 0);
  color: white;
}

.gallery-delete-confirmation {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  background: rgb(0, 215, 253);
  border: 2px solid #2600ff;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.589);
  cursor: pointer;
}

.gallery-delete-yes,
.gallery-delete-no {
  cursor: pointer;
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
}

.gallery-delete-yes,
.gallery-delete-no {
  font-weight: bold;
}

.gallery-delete-yes:hover {
  background-color: rgb(113, 212, 0);
  color: white;
  cursor: pointer;
}

.gallery-delete-no:hover {
  background-color: rgb(158, 0, 105);
  color: white;
  cursor: pointer;
}

.enlarged-image-container {
  position: relative;
  top: 0;
  left: 0;
  width: 360px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 100; /* Above other content */
}

.enlarged-image {
  width: 100%; /* Adjust as needed */
  max-height: 90%; /* Adjust as needed */
  z-index: 101;
  border: 2px solid black;
}



.enlarged-image-container button {
  top: 0;
  right: 0;
  width: 30%;
  height: 30px;
  background-color: white;
  border-radius: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-family: "Freeman", sans-serif;
  font-size: 20px;
  font-weight: bold;
  color:rgb(57, 48, 71);
  box-shadow: 2px 2px 4px black;
  border-radius: 10px;
}

.enlarged-image-container button:hover {
  background-color: rgb(155, 99, 99);
  text-shadow: 1px 2px 2px black;
  color: white;

}

.blur {
  position: absolute;
  filter: blur(5px);
  top: 0;
  background-color: rgba(0, 0, 0, 0.722); /* Optional background */
  width: 97%;
  height: 102%;
  margin-top: 0;
  margin-left: 0;
  z-index: 99; /* Below other content */
}


.ghost-img {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  animation: float 3s ease-in-out infinite;

}

@keyframes float {
  0% {
    transform: translateX(-50%) translateY(0);
  }
  50% {
    transform: translateX(-50%) translateY(-15px);
  }
  100% {
    transform: translateX(-50%) translateY(0);
  }
}

.no-pic-img {

  width: 90%;

  height: auto;
  z-index: 2;
  pointer-events: none;
  border-radius: 10px;
}

.rain {

  display: flex;
  justify-content: center;
  align-items: center;
}

.rain-container {
  position: absolute;

  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  pointer-events: none;
  background: linear-gradient(rgb(40, 39, 73), black);
}

.raindrop {
  position: absolute;
  bottom: 100%;
  width: 2px;
  height: 10px;
  background: linear-gradient(rgb(186, 245, 255), rgb(27, 124, 146));
  animation: fall linear infinite;
}

@keyframes fall {
  to {
    transform: translateY(100vh);
  }
}

.images-present .bubble-container {

  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  pointer-events: none;
  background: linear-gradient(rgb(173, 216, 230), rgb(162, 125, 208));
}

.bubble {
  position: absolute;
  bottom: 0;
  width: 10px;
  height: 10px;
  background: rgba(173, 216, 230, 0.8);
  border-radius: 50%;
  animation: rise linear infinite;
}

@keyframes rise {
  to {
    transform: translateY(-100vh);
  }
}
