@import url('https://fonts.googleapis.com/css2?family=Della+Respira&family=Sixtyfour&display=swap');

.weather-container {
  min-height: 530px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  padding: 10px;
  position: relative;
  z-index: 2;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-align: center;
  overflow-x: hidden;
}

.weather-container hr {
  
  width: 99.4%;
  margin: 0;
  padding: 0;
}

.weather-app-logo {
    margin-bottom: -5px;
        filter: drop-shadow(0 0 10px rgba(5, 197, 255, 0.5));   
}

.weather-background-video {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.weather-header {
    font-family: delia respira;
    color: white;
    background-color: rgba(0, 0, 0, 0.541);
    width: 100%;
    border-radius: 5px 5px 0 0;
}

.weather-header h1 {
    background-color: rgba(25, 2, 90, 0.322);
    padding-top: 5px;
}

@keyframes fadeInOut {
    0% { opacity: 0; }
    20% { opacity: 1; }
    80% { opacity: 1; }
    100% { opacity: 0; }
  }
  
  .weather-header-icon {
    opacity: 0; /* Start with icons hidden */
    transition: opacity 2s ease-in-out; 
    height: 30px;
    width: auto;
    background-color: black;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 152, 253, 0.774);
  }

.weather-icons {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
    margin-top: -10px;
    ;
}

.weather-search {
    background-color: rgba(255, 255, 255, 0.795);
    width: 100%;
    padding-bottom: 15px;
    border-radius: 0 0 5px 5px;
}

.weather-search-btn {
    cursor: pointer;
}

.weather-search-btn:hover {
    background-color: rgba(90, 89, 89, 0.5);
}

.forecast-today {
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 0 20px 20px 20px;
  border-radius: 5px;
  border: 1px solid white;
  background: linear-gradient(to top, rgba(13, 42, 85, 0.5), rgba(255, 255, 255, 0.445));
}

.forecast-today h4 {
    background: linear-gradient(to bottom, rgba(22, 22, 109, 0.555), rgba(171, 99, 185, 0.712));
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 152, 253, 0.774);
    border: 2px solid rgb(255, 255, 255);
    color: white;

}

.city-name {
    background: linear-gradient(to bottom, rgba(22, 22, 109, 0.555), black);
    padding: 5px;
    border-radius: 50px;
    box-shadow: 0 0 5px rgba(0, 152, 253, 0.774);
    border: 2px solid rgb(255, 255, 255);
    color: white;

}

.forecast-grid {
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px; /* provides space between items */
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.5);
}

.weather-card {
  display: flex;
  flex-direction: column;
  background-color: rgba(38, 28, 68, 0.363);
  border-radius: 5px;
  padding: 10px;
  flex-grow: 1;
  text-align: center;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.date-data {
  background-color: rgba(214, 241, 170, 0.925);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  width: 100%;
  border: 1px solid black;
  color: rgb(7, 7, 7);
  text-shadow: 1px 1px 1px rgba(66, 121, 146, 0.5);
  font-weight: bold;
  font-size: clamp(1rem, 2vw, 1rem);
  padding: 5px;
  border-radius: 5px;
}
.data-p {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(145, 218, 228, 0.61);
  margin: 0;
  width: 100%;
  border: 1px solid black;
  color: rgb(7, 7, 7);
  text-shadow: 1px 1px 1px rgba(66, 121, 146, 0.5);
  font-weight: bold;
}


.weather-icon {
  width: 75px;
  height: 75px;
  background-color: rgba(179, 207, 216, 0.815);
  margin: 5px;
  border: 2px solid black;
}

.data {
  background-color: rgba(255, 255, 255, 0.822);
  border: 1px solid black;
  border-radius: 15px;
  padding: 2px 7px 2px 7px;
}
