.contract-container {

  display: flex;
  flex-direction: column;
  width: 60vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  background-color: white;
  border: 4px solid #0077ff;
  border-radius: 10px;
  height: calc(50vh - 4px);
  overflow: hidden;
}

.contract-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  background-color: rgb(43, 4, 116);
  color: white;
  height: 30px;
  border-radius: 5px 5px 0 0;
}

.contract-title {
  display: flex;
  align-items: center;
}

.folder-logo {
  height: 20px;
  width: auto;
  margin-right: 5px;
  box-shadow: 2px 2px 4px rgb(0, 0, 0);
}

.contract-close {
  cursor: pointer;
  background-color: rgb(196, 3, 255);
  padding: 5px;
  border-radius: 5px;
}

.contract-close,
a {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.contract-close:hover {
  background-color: rgb(129, 125, 128);
}

/* .contract-content {
    padding: 10px;
    background-color: #f5f5f5;
    height: calc(50vh - 64px);
    overflow: auto;
} */

.contract-body {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 10px;
  background-color: #f5f5f5;
  height: calc(50vh - 64px);
  overflow: auto;
}

.contract-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 5px;
  text-align: center;
  width: 55px;
  margin: 15px;
}

.contract-item a {
  color: black;
  font-size: 12px;
}

.contract-item a:hover {
  background-color: rgb(197, 196, 196);
}

.contract-content {
  z-index: 4;
  position: absolute;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-left: 10px;
  align-items: center;
  overflow: hidden;
  background-color: #f5f5f5;
  height: auto;
  width: 80%;
  min-width: 250px;
  height: 90%;
  border: 4px solid #0181a8;
  border-radius: 10px;
  box-sizing: border-box;
}

.contract-content-title {
  display: flex;
  align-items: center;
  padding-left: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.contract-content-close button {
  cursor: pointer;
  background-color: rgb(255, 3, 66);
  padding: 5px;
  margin-right: 5px;
  border-radius: 5px;
  font-weight: bold;
}

.hidden {
  display: none; /* This hides the content when not active */
}

.visible {
  display: flex; /* Adjust display as needed when content is active */
}

.character-container {
  position: absolute;
  bottom: 0; /* Adjust as necessary */
  right: 30px; /* Adjust as necessary */
}

.character-container:hover .character-text {
  display: block;
}

.character-text {
    display: none; /* Hide the span initially */
    /* Add additional styles for positioning, color, etc., as needed */
    position: absolute;
    bottom: -20px; /* Adjust as needed */
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    background-color: #f0f0f0; /* Example background color */
    color: black; /* Example text color */
    padding: 5px;
    border: 1px solid black;
    border-radius: 4px;
    font-size: 12px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.568);
  }

.character-minimized-icon {
    width: 30px; /* Example size; adjust as needed */
    cursor: pointer;
    /* Other styling as needed */
  }

.character {
  width: 120px; /* Adjust as necessary */
  height: auto;
  transition: transform 0.3s ease; /* Optional: for some simple animation */
}

.character-text {
    display: hidden;
}

.character:hover {
  transform: scale(1.1); 
  cursor: pointer;
}

@keyframes floatTooltip {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
  }
  
  .character-tooltip {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    animation: floatTooltip 2s ease-in-out infinite;
    position: absolute;
    bottom: 100%;
    right: 20%;
    transform: translateX(-50%);
    white-space: wrap;
    background-color: #fffeac;
    color: black;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 14px;
    border: 2px solid black;

  }



@media screen and (max-width: 460px) {
    .contract-title, .contract-content-title {
        font-size: 10px;
    }
    .character-container {
        right: 5px;
        bottom:-30px;
    }

    .character {
        margin-bottom: -30px;
        width: 100px
    }
  .character-tooltip {
    font-size: 10px;
    right:10%;
    bottom: 100%;
  }
  .contract-content {
    margin-left: -30px;
  }
    
}

@media screen and (min-width: 965px) {
    .contract-content {
        margin-top: -60px;
        max-height: 400px;
    }
}