.internet-window-border {
    z-index: 2;
    display: flex;
    flex-direction: column;
    margin: 8px;
    background-color: rgb(47, 0, 255);
    border: 2px solid black;
    border-radius: 10px;
    padding: 2px;
    flex-grow: 1;
    height: calc(78vh - 4px);
    box-sizing: border-box;
    overflow: hidden;
}

.internet-window {
    width: calc(100% - 8px); 

    margin: 2px;
    border: 2px solid black;
    border-radius: 10px;
    flex-grow: 1; 
    display: flex; 
    flex-direction: column;
    overflow-y: auto;
    height: calc(100% - 4px);

}

.nav {

    padding: .5rem 0 1rem 0;
    background-color: #02d9ff;
    font-size: clamp(1.5rem, 2vw, 1.5rem);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px 10px 0 0;
    cursor: default;
    height: 40px;

}

.internet-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to right, rgb(42, 2, 117), rgb(247, 0, 255));
    width: 100%;

    padding-top: 3px;
    padding-bottom: 6px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30%;
    margin-right: 10px;
    
}

.nav-links a {
    padding: 5px;
}

.nav-links a:hover {
    background-color: hotpink;
    color: rgb(170, 255, 0)
}

.hidden {
    display: none;

}

.minimize-button-internet {
    height: 40px;
}

.minimize-button-internet:hover {
    background-color: rgb(93, 172, 170);
}

.internet-close a {
    cursor: pointer;
    font-size: 1.5rem;
    background-color: rgb(151, 0, 0);
    padding: 5px;
    border-radius: 5px;
    top: 0;

    border: 2px solid black;
}

.internet-close a:hover {
    background-color: rgb(255, 0, 0);
}

.computer-logo {
    position: absolute;
    font-family: "Righteous", cursive;
    z-index: 5;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    left: 51%;
    top: 58px;
    transform: translateX(-57%);
    cursor: default;
}

.computer-logo img {
    width: auto;
    height: 60px;
    margin-right: 10px;

}

.home-page {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 0;
    width: 100%;
    padding-top: 40px;
    background-color: #f5f5f5;
    text-align: center;
    flex-direction: column;
    flex-grow: 1;
}

.about-wrapper {
    display: flex;
    flex-direction: column;
    background-color: turquoise;
}



.staggered-text {
    font-size: 3rem;
    font-weight: bold;
    color: #fff;
    position: relative;
    display: inline-block;
    text-shadow: 
      1px 1px 0 indigo,
      2px 2px 0 violet,
      3px 3px 0 indigo,
      4px 4px 0 violet,
      5px 5px 0 indigo,
      6px 6px 0 violet,
      7px 7px 0 indigo,
      8px 8px 0 violet,
      9px 9px 0 indigo,
      10px 10px 0 violet,
      11px 11px 0 indigo,
      12px 12px 0 violet,
      13px 13px 0 indigo,
      14px 14px 0 violet;
  }
  .st1 {
    color: rgb(255, 247, 0);
}

.st2 {
    margin-top: -30px;
}

  .color-change {
    animation: color-change 1s infinite alternate;
  }

  .color-change-1 {
    animation-delay: 0s;
  }
  
  .color-change-2 {
    animation-delay: 0.1s;
  }
  
  .color-change-3 {
    animation-delay: 0.2s;
  }
  
  .color-change-4 {
    animation-delay: 0.3s;
  }
  
  .color-change-5 {
    animation-delay: 0.4s;
  }
  
  .color-change-6 {
    animation-delay: 0.5s;
  }
  
  .color-change-7 {
    animation-delay: 0.6s;
  }
  
  .color-change-8 {
    animation-delay: 0.7s;
  }
  
  @keyframes color-change {
    0% {
      color: rgb(255, 0, 238);
    }
    16% {
      color: #f90; 
    }
    32% {
      color: #ff0; 
    }
    48% {
      color: #0f0; 
    }
    64% {
      color: rgb(0, 255, 217); 
    }
    80% {
      color: #00f;
    }
    100% {
      color: rgb(255, 0, 238);
    }
  }
  
.about-tab-header {
    text-align: center;
}

.about-tab-content {
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}

.me-pic {
    width: 200px;
    height: auto;
    border-radius: 10%;
    margin: 0 auto;
    display: block;

}

.about-tab-content a {
    font-weight: bold;
    color: rgb(0, 79, 226);
    margin-bottom: 10px;
    text-decoration: underline;
}

.letzchat-button {
    background: linear-gradient(rgb(161, 213, 235), rgb(0, 140, 255) );
    color: white;

    font-size: 15px;
    border-radius: 30px;
    padding: 5px;
    border: 1px solid blue;
    font-weight: bold;
    cursor: pointer;

}

.letzchat-button:hover {
    background:linear-gradient(grey, rgb(2, 50, 84));
    color: rgb(214, 239, 249);
}

.letzchat-close-button {
    background-color: #ff0267;
    color: white;
    font-size: 20px;
    padding: 10px;
    border: 1px solid black;
    cursor: pointer;
    margin-top: 10px;
    width: 100%;

}

.content {
    margin-top: 5px;
    flex-grow: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;

    background-color: white;
    text-align: center;
    border-radius: 0 0 10px 10px;
    cursor: default;
    overflow-y: auto;
}

.tabs {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: black;
    display: flex;
    margin-left: 15px;
}

.tabs a {
    color: black;
    text-decoration: none;

}

.tab {
    padding: 10px;
    margin-right: 4px;
    background-color: #f0f0f0;
    border: 1px solid #030303;
    cursor: pointer;
    color: black;
}

.tab.active {
    background-color: white;
    border-bottom: none;
}

.tab-content {
    width: 90%;
    height: 95%;
    color: black;
    border: 1px solid #ccc;
    padding: 20px;
}

.about-tab {
    color: black;
}

.dialup {
    position: absolute;
    top: 300px;
    left: 300px;
    z-index: 9;
}

.dialup img {
    width: 400px;
    height: auto;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}