.internet-window-border {
    z-index: 2;
    display: flex;
    flex-direction: column;
    margin: 8px;
    background-color: rgb(47, 0, 255);
    border: 2px solid black;
    border-radius: 10px;
    padding: 2px;
    flex-grow: 1;
    height: calc(78vh - 4px);
    box-sizing: border-box;
    overflow: auto;
}

.internet-window {
    width: calc(100% - 8px); 

    margin: 2px;
    border: 2px solid black;
    border-radius: 10px;
    flex-grow: 1; 
    display: flex; 
    flex-direction: column;
    overflow-y: auto;
    height: calc(100% - 4px);

}

.nav {

    padding: .5rem 0 1rem 0;
    background-color: #02d9ff;
    font-size: clamp(1.5rem, 2vw, 1.5rem);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px 10px 0 0;
    cursor: default;
    height: 40px;

}

.internet-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to right, rgb(42, 2, 117), rgb(247, 0, 255));
    width: 100%;

    padding-top: 3px;
    padding-bottom: 6px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30%;
    margin-right: 10px;
    
}

.nav-links a {
    padding: 5px;
}

.nav-links a:hover {
    background-color: hotpink;
    color: rgb(170, 255, 0)
}

.hidden {
    display: none;

}

.minimize-button-internet {
    height: 40px;
}

.minimize-button-internet:hover {
    background-color: rgb(93, 172, 170);
}

.internet-close a {
    cursor: pointer;
    font-size: 1.5rem;
    background-color: rgb(151, 0, 0);
    padding: 5px;
    border-radius: 5px;
    top: 0;

    border: 2px solid black;
}

.internet-close a:hover {
    background-color: rgb(255, 0, 0);
}


/* home page */

.computer-logo {
    font-family: "Faster One", system-ui;
    display: flex;
    justify-content: flex-start;
    align-self: center;
    flex-grow: 1;
    width: 100%;
    background: linear-gradient(black, rgb(4, 4, 197));
    border-bottom: 3px ridge white;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin-bottom: 5px;
    margin-top: -10px;
    cursor: default;
    padding: 5px;
    margin-right: 10px;
}

.computer-logo img {
    width: auto;
    height: 60px;
    margin-right: 10px;

}

.rgi-logo {
    filter: drop-shadow(2px 2px 4px rgb(0, 213, 255));
}

.content {
    margin-top: 5px;
    flex-grow: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;

    background-color: white;
    text-align: center;
    border-radius: 0 0 10px 10px;
    cursor: default;
    overflow-y: auto;
}

.content-hidden {
    display: none;
}

.content-display {
    display: block;
}


.home-content-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 0;
    width: 100%;
    padding-top: 15px;
    text-align: center;
    flex-direction: row;
    flex-grow: 1;


}

.home-page {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 0;

    background-color: #293a50;
    text-align: center;
    flex-direction: column;
    flex-grow: 3;

}


.home-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 0;
    width: 100%;
    padding-top: 10px;
    background-color: #293a50;
    text-align: center;
    flex-direction: column;
    flex-grow: 1;
}

/* sidebar */

.home-sidebar {
    position: relative;
    background-color: gold;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-grow: 1;
    padding: 10px;
    border-radius: 5px 5px 0 0;
    border: 5px ridge rgb(249, 236, 161);
}

.full-width {
    width: 100%;

}



.home-sidebar-header {
    background-color: white;
    margin: 15px 15px 5px 15px;
    padding: 10px;
    width: 90%;
    height: 30px;
    border: 4px inset rgb(185, 178, 178);
}

.home-sidebar-header h3 {
    font-family: 'Courier New', Courier, monospace;
    color: yellow;
    text-align: center;
    margin: 0;
    background-color: blue;
    padding: 5px;
}

.home-sidebar-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    width: 90%;
    padding: 10px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 20px;
    background-color: rgb(214, 219, 220);
    border: 4px inset rgb(185, 178, 178);
}

.home-sidebar-content-button {
    color: black;
    padding: 10px;
    border: 1px solid black;
    text-align: center;
    margin: 0;
    cursor: pointer;
    animation: alternateColors 2s infinite;
}



.fa-body {
    margin: 2px;
    border: 3px dotted red;
    background-color: white;
}

@keyframes alternateColors {
    0% {
      background-color: blue;
    }
    49% {
      background-color: blue;
    }
    50% {
      background-color: red;
    }
    100% {
      background-color: red;
    }
  }

.home-sidebar-content-fa {
    color: black;
    background-color: rgb(6, 0, 16);
    padding: 10px;
    border: 1px solid black;
    text-align: center;
    margin: 0;
    height: 100%;

}

.fake-ad {
    width: 100%;
    height: auto;
    background-color: rgb(255, 0, 0);
    border: 2px solid black;
    border-radius: 5px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5rem;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

}

.y2k {
    width: 150px;
}

.home-sidebar-content h4 {
    color: black;
    background-color: white;
    padding: 10px;
    border: 1px solid black;
    text-align: center;
    margin: 0;
    height: 100%;
}

.home-sidebar-content a {
    color: blue;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: underline;

}

.flame-gif {
    width: 150px;
    height: auto;
    position: absolute;
    bottom: 5px;
    left: 15px;
    padding-bottom: 2px;
    background-color: transparent;
}

.showNo {
    position: absolute;
    top: 300px;
    left: 300px;
    z-index: 9;
    background-color: rgb(242, 0, 255);
    border-radius: 10px;
    border: 2px solid black;
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.884));
}

.showNo h2 {
    background-color: white;
    padding: 10px;
}

.showNo img {
    width: 200px;
    height: auto;
    padding: 5px;
}

.cd-gif {
    width: 50px;
    height: auto;
    position: absolute;
    bottom: 5px;
    right: 15px;
    padding-bottom: 2px;
    

}

/* about tab */

.about-wrapper {
    display: flex;
    flex-direction: column;
    background-color: turquoise;
    border-left: 6px ridge rgb(228, 230, 231);
    border-right: 6px ridge rgb(228, 230, 231);
    border-top: 6px ridge rgb(228, 230, 231);
}



.staggered-text {
    font-size: 3rem;
    font-weight: bold;
    color: #fff;
    position: relative;
    display: inline-block;
    text-shadow: 
      1px 1px 0 indigo,
      2px 2px 0 violet,
      3px 3px 0 indigo,
      4px 4px 0 violet,
      5px 5px 0 indigo,
      6px 6px 0 violet,
      7px 7px 0 indigo,
      8px 8px 0 violet,
      9px 9px 0 indigo,
      10px 10px 0 violet,
      11px 11px 0 indigo,
      12px 12px 0 violet,
      13px 13px 0 indigo,
      14px 14px 0 violet;
  }
  .st1 {
    color: rgb(255, 247, 0);
}

.st2 {
    margin-top: -30px;
}

  .color-change {
    animation: color-change 1s infinite alternate;
  }

  .color-change-1 {
    animation-delay: 0s;
  }
  
  .color-change-2 {
    animation-delay: 0.1s;
  }
  
  .color-change-3 {
    animation-delay: 0.2s;
  }
  
  .color-change-4 {
    animation-delay: 0.3s;
  }
  
  .color-change-5 {
    animation-delay: 0.4s;
  }
  
  .color-change-6 {
    animation-delay: 0.5s;
  }
  
  .color-change-7 {
    animation-delay: 0.6s;
  }
  
  .color-change-8 {
    animation-delay: 0.7s;
  }
  
  @keyframes color-change {
    0% {
      color: rgb(255, 0, 238);
    }
    16% {
      color: #f90; 
    }
    32% {
      color: #ff0; 
    }
    48% {
      color: #0f0; 
    }
    64% {
      color: rgb(0, 255, 217); 
    }
    80% {
      color: #00f;
    }
    100% {
      color: rgb(255, 0, 238);
    }
  }

  .tabs {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: black;
    display: flex;
    margin-left: 15px;

}

.tabs a {
    color: white;
    text-decoration: none;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.725);
}



.tab {
    padding: 10px;
    margin-right: 0;
    background: linear-gradient(rgb(169, 161, 161), #262a34);
    border-top: 1px solid #ffffff;
    
    border-right: 1px solid #ffffff;
    border-radius: 10px 10px 0 0;
    cursor: pointer;
    color: white;
}

.tab.active {
    background: linear-gradient(rgb(255, 255, 255), rgb(153, 158, 160));
    border-bottom: none;
    padding: 11px;
}

.tab.active a {
    color: black;
    font-weight: bold;
    text-shadow: none;
}

.tab-content {
    
    height: 100%;
    color: black;
    /* border: 1px solid #ccc; */
    padding: 20px;
    border-left: 1px solid black;
    background-color: rgb(153, 158, 160);
}

.about-tab {
    color: black;
}
  
.about-tab-header, .home-tab-header {
    text-align: center;
    background-color: white;
    padding: 10px;
    margin: 15px;
    border: 4px inset rgb(185, 178, 178);
}

.about-tab-content {
    text-align: left;
    font-family:'Courier New', Courier, monospace;
    background-color: rgb(214, 219, 220);
    border: 6px ridge rgb(228, 230, 231);
}

.about-tab-body {
    padding: 10px;
    margin: 15px;
    background-color:white;
    border: 6px ridge rgb(228, 230, 231);
    text-align: center;
}

.pink {
    padding: 5px;
    background-color: rgb(254, 182, 249);

}

.yella {
    padding: 5px;
    background-color: rgb(252, 252, 156);
}

.standout {
    background-color: rgb(57, 248, 210);

    padding: 2px;
}

.me-pic {
    width: 200px;
    height: auto;
    border: 6px outset rgb(244, 249, 251);
    border-radius: 2%;
    margin: 0 auto;
    display: block;

}

.about-tab-content a {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: rgb(0, 79, 226);
    margin-bottom: 10px;
    text-decoration: underline;
}

.letzchat-button {
    background: linear-gradient(rgb(161, 213, 235), rgb(0, 140, 255) );
    color: white;

    font-size: 15px;
    border-radius: 30px;
    padding: 5px;
    border: 1px solid blue;
    font-weight: bold;
    cursor: pointer;

}

.letzchat-button:hover {
    background:linear-gradient(grey, rgb(2, 50, 84));
    color: rgb(214, 239, 249);
}

.letzchat-close-button {
    background-color: #ff0267;
    color: white;
    font-size: 20px;
    padding: 10px;
    border: 1px solid black;
    cursor: pointer;
    margin-top: 10px;
    width: 100%;

}

.home-tab {
    flex-grow: 1;
    color: black;
    background: url('../assets/geo1.png');
    border: 5px ridge rgb(228, 230, 231);
}

.home-tab-content {
    padding-left: 13px;
    padding-right: 14px;
    text-align: left;
    font-family:'Courier New', Courier, monospace;
    /* background-color: rgb(214, 219, 220);
    border: 6px ridge rgb(228, 230, 231); */
}

.home-tab-header {
    background: url("../assets/geo3.png");
}

.header-font {
    font-family: 'Times New Roman', Times, serif;
    color: rgb(85, 0, 255);
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.home-tab-body {

    padding: 10px;
    margin: 15px;
    /* background-color:white;
    border: 6px ridge rgb(228, 230, 231); */
    text-align: center;
}

.paint-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .paint-controls {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    flex-direction: column;
  }

  .paint-controls-lower {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    flex-direction: row;
  }
  
  .color-palette {
    display: flex;
    margin-right: 20px;
    padding: 5px;
    background-color: rgb(197, 195, 197);
    border: 4px ridge rgb(185, 178, 178);
  }
  
  .color-button {
    width: 30px;
    height: 30px;
    margin-right: 5px;
    border: none;
    cursor: pointer;
    border: 1px solid black;
  }
  
  .brush-shapes {
    display: flex;
    margin-right: 20px;
  }


  
  .brush-shape-button {
    padding: 5px 10px;
    margin-right: 5px;
    border: 2px solid grey;
    border: none;
    cursor: pointer;
  }
  
  .brush-shape-button.active {
    border: 1px solid rgb(255, 0, 204);
    background-color: rgb(0, 255, 238);
  }

  .paint-controls label {
    color: white;
    margin-right: 10px;
  }
  
  .paint-controls input[type="number"] {
    margin-right: 20px;
  }
  
  .paint-controls button {
    padding: 5px 10px;
  }
  
  .paint-canvas {
    border: 4px outset rgb(145, 214, 221);
    background-color: white;
    cursor: crosshair;
  }
  
  .paint-instructions {
    background-color: rgb(250, 251, 196);
    color: blue;
    border: 2px solid black;
  }
  

/* dialup */

.dialup {
    position: absolute;
    top: 25%;
    left: 25%;
    z-index: 9;
}

.dialup img {
    width: 400px;
    height: auto;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

@media screen and (max-height: 450px) {
  .internet-window-border {
    height: 450px;
  }

  .showNo {
    top: 25%;
    left: 25%;
}
}
  
