.phone-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: rgb(33, 33, 41);
}

.phone-landscape {
    transform: rotate(90deg);
    transform-origin: center center;
    width: 100vh; /* Assuming you want to take the full viewport height after rotation */
    height: 100vw; /* Assuming you want to take the full viewport width after rotation */
    /* You may need to adjust the position after rotation */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(90deg);
    
  }

  .game-canvas {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: black;
    
  }

  .phone-landscape .game-canvas {
    transform: rotate(-90deg);
    transform-origin: center center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 95px;

  }

    .phone-landscape .phone-app-container, .phone-landscape .phone-app-container::before {
        background-color: black;
    }



  .game-canvas canvas {
    background-color: black;
    margin-right: -3px;
    border: 1px solid black;
  }

.phone-container {
    position: relative;
    display: flex;
    flex-direction: column;
    
    height: 620px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 5px;
    border-radius: 10px;
    background-color: #00f7ff;
    width: 380px;
    padding: 5px;
}

.phone-bezel {
    background-color: black;
    border: 2px solid black;
    border-radius: 10px;
    height: 615px;
    padding: 2px;
    overflow: hidden;
}

.phone-screen {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    background-color: silver;
    margin: 5px 5px 5px 5px;
    border-radius: 5px;
    border: 1px solid black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    height: 602px;
    overflow: hidden;

}

.phone-header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items:center;
    background-color: #ded2f3;
    width: 100%;
    height: 20px;
    position: relative;
}

.phone-header-right {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items:center;

}


.phone-header-left p, .phone-header-right p{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    height: 20px;
    margin-top: 10px;
}

.bars-img {
    width: 20px;
    height: 15px;
    margin: 0 5px 0 5px;

}


.phone-camera {
    width: 18px;
    height: 15px;
    position: absolute; /* Absolutely position the camera div */
    left: 50%; /* Set left to 50% of the parent container */
    transform: translateX(-50%);

}

.phone-weather-app, .phone-camera-app, .phone-gallery-app, .phone-game-app, .phone-email-app {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}



.phone-app-container {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr; /* Creates a 2-column grid */
    grid-gap: 10px; 
    flex-direction: column;
    flex-grow: 1;
    cursor: default;
    background: url("../assets/apothecary_diaries.jpg") no-repeat center center;
    background-size: cover;
    overflow: auto;
    margin-bottom: auto;
    z-index: 1;
    
}

.phone-app-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.582);
    z-index: 2;

}

.no-overflow {
    overflow: hidden;
}

.phone-weather-app, .phone-camera-app, .phone-gallery-app, .phone-game-app, .phone-email-app {
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}

.phone-weather-app a, .phone-camera-app a, .phone-gallery-app a, .phone-game-app a, .phone-email-app a {
    color: rgb(43, 43, 43);
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.5);

}

.phone-weather-app:hover, .phone-camera-app:hover, .phone-gallery-app:hover, .phone-game-app:hover, .phone-email-app:hover {
    background-color: rgba(0, 0, 0, 0.329);
    border-radius: 5px;
}

.phone-weather-app:hover a, .phone-camera-app:hover a, .phone-gallery-app:hover a, .phone-game-app:hover a, .phone-email-app:hover a {
    color: white;
}

.phone-footer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ded2f3;
    padding: 10px;
    border-top: 1px solid black;
    border-radius: 0 0 10px 10px;
    bottom: 0;
    margin-top: auto;
    width: 100%;
    height: 10px;
}

.phone-footer a {
    color: black;
    border: 1px solid black;
    border-radius: 50px;
    padding: 0 5px 0 5px;

}


@media (max-width: 600px) {
    /* This will apply to screens with a width of 600px or less */
    .phone-landscape {
      /* Reset any rotation styles you added for landscape mode */
      transform: none;
      position: static;
      width: auto;
      height: auto;
    }
  }