.loading-screen, .title-screen {
    position: relative;
    display: block;    
    width: 550px;
    height: 363px;
    background-color: #000;
    transform: rotate(-90deg) translateX(-17%) translateY(-26%);
    transform-origin: center center; 
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 1s ease-in-out;
}

.loading-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  background-color: black;
  color: white;
  opacity: 1;  
}

.title-screen {
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  background-color: violet;
  color: white;
  opacity: 1; 
}

.fade-out {
  opacity: 0; 
}

.game-canvas {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    background-color: #000;
}

.game-header {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    margin-left: 5px;
    width: 547px;
    z-index: 10;
    padding: 3px 10px 10px 10px;
}



.player-health-divs {
    position: relative;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 30px;
}

.player-health {

    background-color: rgba(88, 0, 87, 0.507);
    height: 30px;
    width: 100%;
}

.player-health-decrease {
    position: absolute;
    background-color: rgba(249, 0, 212, 0.744);
    top: 0;

    right: 0;
    bottom: 0;
    height: 30px;
    width: 100%;
}

.timer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 100px;
    height: 70px;
    background-color: rgba(0, 0, 255, 0.349);
}

.enemy-health-divs {
    position: relative;

    width: 100%;
    height: 30px;
}

.enemy-health {

    background-color: rgba(0, 52, 58, 0.453);
    height: 30px;

}

.enemy-health-decrease {
    position: absolute;
    background-color: rgba(0, 182, 237, 0.934);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 30px;

}
.game-results {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 300px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    border: 3px solid gold;
    border-radius: 10px;
    z-index: 99;
    /* Add more styles as needed */
  }
  
  .game-over {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .game-results.show {
    display: block;
  }
  