.loading-screen, .title-screen {
    position: relative;
    display: block;    
    width: 550px;
    height: 363px;
    background-color: #000;
    transform: rotate(-90deg) translateX(-17%) translateY(-26%);
    transform-origin: center center; 
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 1s ease-in-out;
}

.loading-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  background-color: black;
  color: white;
  opacity: 1;  
}

.title-screen {
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  background-color: violet;
  color: white;
  opacity: 1; 
}

.fade-out {
  opacity: 0; 
}

.game-canvas {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    background-color: #000;
}


.game-header {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    margin-left: 5px;
    width: 547px;
    z-index: 10;
    padding: 3px 10px 10px 10px;
}



.player-health-divs {
    position: relative;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 30px;
}

.player-health {

    background-color: rgba(88, 0, 87, 0.507);
    height: 30px;
    width: 100%;
    border: 2px solid gold;
}

.player-health-decrease {
    position: absolute;
    background: linear-gradient(white, rgb(249, 0, 212, 0.744));
    top: 1px;
    left: 1px;
    bottom: 1px;
    height: 30px;
    width: 100%;
    transition: width 0.5s ease;
}


.timer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 100px;
    height: 70px;
    font-size: 35px;
    font-weight: bold;
    text-align: center;

    background: linear-gradient(to top, rgba(247, 0, 255, 0.399), rgba(0, 234, 255, 0.453));
    border-radius: 50px 50px;
    text-shadow: 
    1px 1px 1px rgb(153, 255, 1), /* Basic shadow */
    2px 2px 1px rgb(219, 219, 219), /* Additional layer for width */
    3px 3px 1px rgba(86, 86, 86, 0.3); /* Another layer for more width */;
}


.enemy-health-divs {
    position: relative;

    width: 100%;
    height: 30px;
}

.enemy-health {

    background-color: rgba(0, 52, 58, 0.453);
    height: 30px;
    border: 2px solid gold;
}

.enemy-health-decrease {
    position: absolute;
    background: linear-gradient(white, rgba(0, 182, 237, 0.934));
    top: 1px;
    right: 1px;
    bottom: 1px;
    height: 30px;
    width: 100%;
    transition: width 0.5s ease;
    transform-origin: right center;
}
.game-results {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 300px;
    text-align: center;
    
    color: white;
    border: 3px solid rgb(153, 255, 1);
    border-radius: 10px;
    z-index: 99;
  }

  .game-results h2 {
    font-size: 2em;
    padding: 10px;
    color: black;
    margin-top: 0;
  }

  .play-again {
    z-index: 50;
    background: linear-gradient(rgba(7, 197, 255, 0.934),  rgb(249, 0, 212, 0.744));
    color: white;
    font-size: 1.5em;
    font-weight: bold;
    text-shadow: 0 0 5px black;
    padding: 10px;
    border-radius: 15px;
    border: 3px solid black;
    cursor: pointer;
    margin-bottom: 10px;
  }

  .play-again:hover {
    background: linear-gradient(rgba(0, 99, 129, 0.934), rgb(176, 108, 119));

  }
  
  .game-over {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    border: 3px solid rgb(153, 255, 1);
    z-index: 3;
  }

  .winner {
    position: relative;
    border-radius: 10px;
    background: url('../assets/beat.gif') no-repeat center;
  }

  .loser {
    position: relative;
    border-radius: 10px;
    background: url('../assets/van.gif') no-repeat center;
  }

  .tie {
    position: relative;
    border-radius: 10px;
    background: url('../assets/tie.gif') no-repeat center;
  }

  .loser::before, .winner::before, .tie::before {
    position: absolute;
    background-color: rgba(0, 0, 255, 0.33);
    content: '';
    width: 100%;
    height: 100%;
    opacity: 0.5;
  }


  .game-results.show {
    display: block;
    
  }

  .game-results.show::before {
    position: absolute;
    content: '';
    background-color: rgba(0, 0, 0, 0.823);
    width: 555px;
    height: 367px;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  