.game-canvas {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    background-color: #000;
}

.game-header {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    margin-left: 5px;
    width: 547px;
    z-index: 10;
    padding: 3px 10px 10px 10px;
}



.player-health-divs {
    position: relative;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 30px;
}

.player-health {

    background-color: rgba(88, 0, 87, 0.507);
    height: 30px;
    width: 100%;
}

.player-health-decrease {
    position: absolute;
    background-color: rgba(249, 0, 212, 0.744);
    top: 0;

    right: 0;
    bottom: 0;
    height: 30px;
    width: 100%;
}

.timer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 100px;
    height: 70px;
    background-color: rgba(0, 0, 255, 0.349);
}

.enemy-health-divs {
    position: relative;

    width: 100%;
    height: 30px;
}

.enemy-health {

    background-color: rgba(0, 52, 58, 0.453);
    height: 30px;

}

.enemy-health-decrease {
    position: absolute;
    background-color: rgba(0, 182, 237, 0.934);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 30px;

}
.game-results {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    /* Add more styles as needed */
  }
  
  .game-results.show {
    display: block;
  }
  